#destinations-container {
    background-color: white;
    display: grid;
    min-height: 80vh;
    min-width: 360px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1f);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.destinations-item {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
}
.destinations-item > h1 {
    max-height: 100px;
    font-family: 'Dancing Script', cursive;
    font-weight: 3000;
    font-size: 60px;
}
.destinations-image-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto;
}
.destinations-image img {
    border-radius: 3rem;
}
.card-img-overlay {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size:larger;
    color: white;
    opacity: 0.6;
}
.card-img-overlay:hover {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.5)
      );
    border-radius: 3rem; 
    opacity: 1; 
}
.card-img-overlay > h2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 20px;
}
.destinations-image {
    box-sizing: border-box;
    border: 1px solid transparent;
    padding: 2px
}
.destinations-image img {
    width: 100%;
    min-width: 150px;
    max-width: 100%;
    height: auto;
}
@media (width < 400) {
    .destinations-container {
        min-height: 80vh;
        margin-right: 2px;
        margin-left: 2px;
    }
}
@media (width >=768px) {
    .destinations-container {
        min-height: 80vh;
        margin-right: 30px;
        margin-left: 30px;
    }
    .destinations-image-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .destinations-image img {
        border-radius: 0rem;
    }
    .card-img-overlay > h2 {
        font-family: 'Dancing Script', cursive;
        font-weight: 800;
        font-size: 50px;
    }
    .card-img-overlay:hover {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5)
          );
        color: white;
        border-radius: 3rem 0 0 3rem;  
    }
    .destinations-image-container * .first {
        border-radius: 3rem 0 0 3rem;
    }
    .destinations-image-container * .last {
        border-radius: 0 3rem 3rem 0;
    }
}
@media (width >=968px) {
    .destinations-container {
        margin-right: 100px;
        margin-left: 100px;
        padding-right: 100px;
        padding-left: 100px;
    }
}